@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg: #fff;
    --clr-gray: #666666;
}

body,
.container {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
}

.text-description {
    color: var(--clr-gray);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90rem;
    width: 100%;
    gap: 2.5rem;
    padding: 13px 6.25rem;
    margin: 0 auto;
}

.main-header__logo {
    font-size: 1.375rem;
    font-weight: 900;
}

ul {
    list-style: none;
}

.main-nav-item {
    width: 100%;
    text-align: center;
    position: relative;
}

.main-nav a:hover {
    background-color: var(--clr-bg);
}

.main-nav ul {
    display: flex;
}

.main-nav a {
    background-color: var(--clr-bg);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    color: #000;
    width: 7.5rem;
}

.main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

.main-nav li:hover .main-nav-item__submenu>li {
    display: block;
    flex-direction: column;
    top: 0px;
}

.main-nav-item__submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.main-nav-item__submenu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    font-size: 0.8rem;
}

.main-nav-item__submenu li {
    position: relative;
}

.main-nav-item__submenu li:hover .main-nav-item__submenu-2 li {
    display: block;
}

.main-nav-item__submenu-2 li {
    display: none;
}

.main-nav-item__submenu-2 {
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 7.5rem;
}

.main-nav-item__submenu>li:not(:last-child)>a {
    border-bottom: 1px solid #ddd;
}

.main-nav-item__submenu-2 a:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

#main-seach__form {
    flex-grow: 2;
}

.main-search__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.main-search__wrapper:focus-within {
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.75);
}

.main-search__input {
    font-family: 'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    padding-left: 0.5rem;
}

.main-search__input::placeholder,
.main-search__icon {
    color: rgb(0, 0, 0, 0.5);
}

.main-header__controlls {
    display: flex;
}

.main-header__search {
    display: none;
}

.main-banner {
    background-color: #F2F0F1;
    padding: 4rem;
}

.main-banner__content-wrapper {
    display: flex;
    max-width: 90rem;
    margin: 0 auto;
}

.main-banner__right-side {
    width: 100%;
}

.main-banner__picture{
    background: url("images/main-banner.png") center / cover no-repeat;
    width: 100%;
    min-width: 24.375rem;
    height: 41rem;
}


.main-banner__h1 > h1 {
    font-size: 4rem;
    font-weight: 900;
    max-width: 36rem;
}

.main-banner__description {
    margin-top: 2rem;
    max-width: 34rem;
}

.main-banner__shop-now {
    margin-top: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 2rem;
    max-width: 13.125rem;
    padding: 1rem 4.2rem;
    font-size: 0.9rem;
}

.main-banner__numbers {
    margin-top: 3rem;
    display: flex;
    max-width: 37.25rem;
    gap: 2rem;
}

.main-banner__amount {
    padding-right: 1rem;
    border-right: 1px solid rgb(51, 51, 51, 0.3);
}

.main-banner__amount:last-child {
    border: none;
}

.main-banner__number {
    font-weight: 500;
    font-size: 2.5rem;
}
