.navbar {
  color: var(--clr-dark-100);
  border-radius: 4px;

  .nav-list {
    position: relative;
    display: flex;

    li {
      display: flex;
      transition: background-color .5s ease;
      text-align: center;

      &:hover {
        background: var(--clr-dark-200);
        a.hasDropdown {
          color: var(--clr-neutral-100);
        }
        a.hasDropdown:after {
          content: "";
          border-top-color: var(--clr-dark-200);
        }

        .navbar-container {
          display: flex;
        }
      }
    }

    a {
      position: relative;
      display: inline-flex;
      text-decoration: none;
      padding: 1.25rem;
      color: var(--clr-dark-100);
      flex: 1;
      justify-content: center;

      & > .fa {
        font-weight: var(--fw-bold);
        margin-left: 8px;
      }
    }
  }

  .navbar-container {
    padding-top: 0.625rem;
    position: absolute;
    z-index: 1;
    top: 3.5rem;
    left: 0;
    display: none;
    margin-bottom: 1.875rem;
    text-align: left;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 2px 0 hsla(0, 0%, 0%, 0.06);

    &.has-multi {
      .navbar-container__list {
        &:not(:last-child) {
          border-right: solid 1px var(--clr-secondary-500);
        }
      }
    }
  }

  .navbar-container__list-item {
    overflow: hidden;
    padding: 10px 30px;
    white-space: nowrap;
    text-overflow: ellipsis;

    > div {
      overflow: hidden;
      cursor: pointer;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
      color: var(--clr-accent-100);
    }
  }

  a.hasDropdown:after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    top: 56px;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: var(--clr-dark-200);
  }
}
