$colors: (
  primary: (
    500: hsl(0 0% 60%),
    700: hsl(0 0% 40%),
  ),
  secondary: (
    400: hsl(0, 0%, 94%),
    500: hsl(330, 7%, 95%),
    600: hsl(20, 10%, 94%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
  ),
  accent: (
    100: hsl(6, 65%, 60%),
  ),
  dark: (
    100: hsl(0, 0%, 0%, 100%),
    200: hsl(233, 24%, 19%)
  ),
);
