@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: "Inter", sans-serif;
    background-color: #F0F0F6;
}

h3,
p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #FAFAFA;
    height: 29.18rem;
}

h1 {
    margin: 0;
    max-width: 31.25rem;
    font-size: 3rem;
}

.text-description {
    color: #767676;
}

.main__speciality {
    color: #FFB400;
}

.main__about_me-description {
    margin-top: 5rem;
    margin-left: 2rem;
}

.main__about_me-text {
    margin-top: 2rem;
    display: block;
    max-width: 26.5rem;
}

.main__about_me {
    display: flex;
    flex-direction: row;
    width: 60.625rem;
    position: relative;
}

.elipse_orange_first {
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.elipse_green_second {
    position: absolute;
    top: 3rem;
    left: 30rem;
}

.elipse_orange_second {
    position: absolute;
    bottom: 4rem;
    right: 27rem;
}

.rectangle_blue {
    position: absolute;
    bottom: 7rem;
    left: 20rem;
}

.elipse_green_first {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
}

.rectangle_orange {
    position: absolute;
    top: 2rem;
    right: 4rem;
}

.triangle_red {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.main__about_me-profile_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/profile.png");
    max-width: 20.36rem;
    height: 28.7rem;
    display: flex;
    flex: 1
}

.hire-me-btn {
    margin-top: 3rem;
    width: 9.625rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #FFB400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.right_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 6.5rem;
    padding-top: 1.5rem;
    background-color: #FAFAFA;
}

.right_sidebar__navigation-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.right_sidebar__navigation-home svg:nth-child(2) {
    margin-top: 0.5rem;
}

.right_sidebar__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
}

.right_sidebar__navigation>svg {
    margin: 1rem 0;
}

.left_sidebar {
    padding-top: 1.5rem;
    background-color: #FAFAFA;
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.left_sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #F0F0F6;
}

.left_sidebar__profile-picture {
    position: relative;
    background-image: url("images/profile-icon.png");
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
}

.left_sidebar__profile-picture>.available {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #7EB942;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
}

.left_sidebar__profile-name {
    padding: 0.5rem 0;
}

.left_sidebar__profile-job_title {
    padding: 0.5rem 0 1rem 0;
}

.left_sidebar__about,
.left_sidebar__languages,
.left_sidebar__skills,
.left_sidebar__extra-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 2rem 1rem 2rem;
    margin-top: 1rem;
    border-bottom: 2px solid #F0F0F6;
}

.left_sidebar__about div,
.left_sidebar__languages div,
.left_sidebar__skills div,
.left_sidebar__extra-skill p {
    font-size: 0.9rem;
}

.left_sidebar__about-info,
.left_sidebar__languages-info,
.left_sidebar__skills-info {
    display: flex;
    justify-content: space-between;
}

.left_sidebar__about-info .label {
    text-align: left;
    background-color: #FFB400;
    padding-left: 4px;
    padding-right: 5px;
}

.left_sidebar__about-info .value {
    text-align: right;
}

.left_sidebar__about-info .available {
    color: #7EB942;
}

.left_sidebar__languages-info div,
.left_sidebar__skills-info div,
.left_sidebar__extra-skill p {
    color: #767676
}

.pipe {
    height: 5px;
    border: 1px solid #FFB400;
    border-radius: 10px;
}

.pipe-100 {
    background: linear-gradient(to right, #FFB400 100%, transparent 100%);
}

.pipe-90 {
    background: linear-gradient(to right, #FFB400 90%, transparent 90%);
}

.pipe-85 {
    background: linear-gradient(to right, #FFB400 85%, transparent 85%);
}

.pipe-80 {
    background: linear-gradient(to right, #FFB400 80%, transparent 80%);
}

.pipe-75 {
    background: linear-gradient(to right, #FFB400 75%, transparent 75%);
}

.pipe-60 {
    background: linear-gradient(to right, #FFB400 60%, transparent 60%);
}

.left_sidebar__extra-skill {
    display: flex;
    gap: 1rem;
}

.left_sidebar__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.left_sidebar__download-btn {
    width: 13.75rem;
    height: 2.5rem;
    background-color: #FFB400;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    color: #FAFAFA;
    fill: #FAFAFA;
}

.left_sidebar__download-btn-svg {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.main__services {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__services-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__services-description p {
    margin-top: 1rem;
    max-width: 27.575rem;
    text-align: center;
}

.main__services-list {
    margin-top: 1rem;
    max-width: 60.625rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main__services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 19.375rem;
    height: 14rem;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0 1.25rem;
}

.main__services-item a {
    text-decoration: none;
    color: #000;

}

.main__services-item h3 {
    font-weight: 400;
}

.main__services-item-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__services-item-order p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: small;
    color: #FFB400;
}

.main__price_plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.main__price_plans > p {
    max-width: 26.75rem;
    color: #767676;
    text-align: center;
}

.main__price_plans-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60.625rem;
    gap: 1rem;
}

.main__price_plans-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: #FFFFFF;
    box-shadow: 3px 4px 10px 0px rgba(128, 128, 128, 0.5);
}

.main__price_plans-item p {
    text-align: center;
}

.main__price_plans-amount {
    font-size: 2.5rem;
    font-weight: 600;
}

.main__price_plans-amount-text {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.main__price_plans-for-hour {
    padding-top: 10px;
    padding-left: 5px;
}

.main__price_plans-description {
    margin-top: 0.5rem;
}

.main__price_plans-item-header {
    display: flex;
    height: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.main__price_plans-item-header.active {
    background-color: #FFB400;
}

.main__price_plans-item-header p {
    color: #000;
}

.main__price_plans-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.main__price_plans-element {
    display: flex;
    width: 16rem;
    justify-content: left;
    align-items: end;
    padding-bottom: 0.5rem;
}

.main__price_plans-element p {
    padding-left: 1rem;
}

.main__price_plans-order-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 9rem;
    height: 2.5rem;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 600;
    box-shadow: 0px 0px 10px 1px rgba(224, 216, 216)
}

.main__price_plans-order-now-btn.active {
    background-color: #FFB400;
}

.main__recommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__recommendations-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 27.375rem;
}

.main__recommendations-cards {
    margin: 2rem 0;
    display: flex;
    width: 60.625rem;
    gap: 1rem;
}

.main__recommendations-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 1rem;
}

.main__recommendations-rating {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
}

.main__recommendations-title {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.main__recommendations-description,
.main__recommendations-review-author-job,
.main__recommendations-header p {
    color: #767676;
}

.main__recommendations-header p {
    text-align: center;
}

.main__recommendations-review {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.main__recommendations-review-img {
    width: 80px;
    height: 80px;
}

.main__recommendations-review-author {
    padding-left: 1rem;
}

.main__recommendations-review-author-job {
    padding-top: 0.5rem;
}

.main__recommendations-footer {
    display: flex;
    width: 4rem;
    justify-content: space-evenly;
}

.main__education {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__education-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 27.375rem;
    text-align: center;
}

.main__education-list {
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 60.625rem;
}

.main__education-element {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #F0F0F6;
    padding: 1rem;
}
.main__education-element:last-child {
    border: none;
}

.main__education-name,
.main__education-diploma {
    font-weight: 500;
    font-size: 1.1rem;
}

.main__education-postition {
    font-size: 0.9rem;
}

.main__education-left {
    width: 12.5rem;
}

.main__education-right {
    width: 40rem;
}

.main__education-text {
    margin-top: 1rem;
}

.main__education-date {
    font-size: 0.6rem;
    background-color: #FFB400;
    color: #FAFAFA;
    padding: 5px;
}

.main__education-description {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main__portfolio {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__portfolio-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 27.375rem;
    text-align: center;
}

.main__portfolio-categories {
    margin-top: 2rem;
    display: flex;
    width: 37.5rem;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 1.125rem;
}

.main__portfolio-categories .active {
    color: #FFB400;
}

.main__portfolio-list {
    margin-top: 2rem;
    width: 60.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main__portfolio-item {
    width: 19.375rem;
    height: 18.75rem;
    overflow: hidden;
}

.main__portfolio-item img {
    width: 20.375rem;
    height: 19.75rem;
    transition: transform 0.4s ease;
}

.main__portfolio-item:hover img {
    transform: scale(1.2); 
    transform-origin: center; 
    cursor: crosshair;
}

.main__blog {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 27.375rem;
    text-align: center;
}

.main__blog-list {
    margin-top: 2rem;
    width: 60.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main__blog-item {
    width: 19.375rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.main__blog-item h3 {
    font-size: 1.1rem;
    font-weight: 500;
}
.main__blog-item-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 9rem;
    justify-content: space-between;
}

.main__blog-item-container > p {
    font-size: 0.95rem;
}

.main__blog-item img {
    width: 20.375rem;
    height: 19.75rem;
}

.main__blog-item-container-link {
    display: flex;
    text-decoration: none;
    color: #FFB400;
    font-weight: 500;
    align-items: center;
}

.main__blog-item-image {
    position: relative;
}

.main__blog-item-image > .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:  rgb(255, 180, 0, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.main__blog-item:hover .overlay {
    bottom: 0;
    height: 100%;
}

.main__contacts {
    display: flex;
    width: 60.625rem;
    justify-content: space-between;
}

.main__contacts-form {
    display: flex;
    flex-direction: column;
    width: 35.625rem;
    background-color: #FAFAFA;
    padding: 1rem;
}

.main__contacts-form-element {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.main__contacts-form-element input {
    margin-top: 0.3rem;
    height: 2.5rem;
    background-color: #F0F0F6;
    border: none;
    font-size: large;
}

.main__contacts-form-element textarea {
    margin-top: 0.3rem;
    height: 8rem;
    resize: none;
    background-color: #F0F0F6;
    border: none;
    font-size: large;
}

.main__contacts-form-element label {
    font-size: 0.9rem;
}

input:focus,
textarea:focus {
    outline: 1px solid rgb(118, 118, 118, 0.2) /* Custom outline color */
}

.main__contacts-form-element.submit {
    display: flex;
    width: 10rem;
}

.main__contacts-form-element.submit > button {
    padding: 0.5rem;
    background-color: #FFB400;
    border: none;
}

.main__contacts-address {
    display: flex;
    flex-direction: column;
    width: 23.125rem;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    margin-bottom: 1rem;
} 

.main__contacts-address-icon {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #FFB400;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.main__contacts-address-info {
    display: flex;
    flex-direction: column;
    width: 23.125rem;
}

.main__contacts-adress-description {
    display: flex;
    justify-content: space-between;
    padding: 0.565rem;
}
.main__contacts-address-info-value {
    font-size: 0.9rem;
}
